
.depicter-revert .depicter-2-element-14{
	background-color:#FFFFFF;
	border:none;
	border-radius:8px 8px 8px 8px;
}
.depicter-revert .depicter-2-element-14:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-2-element-14:not(.depicter-hover-off):hover {
	background-color:#222222;
}
.depicter-2-element-14 .depicter-symbol-container{
	fill:#EB802A;
	transition:all ease 0.5s;
}
.depicter-2-element-14:hover .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-2-element-15{
	background-color:#ffffff;
	border:none;
	border-radius:8px 8px 8px 8px;
}
.depicter-revert .depicter-2-element-15:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-2-element-15:not(.depicter-hover-off):hover {
	background-color:#222222;
}
.depicter-2-element-15 .depicter-symbol-container{
	fill:#EB802A;
	transition:all ease 0.5s;
}
.depicter-2-element-15:hover .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-2-element-13{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#FFF;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-13:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-2-element-13:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-12{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#EB802A;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	transform:rotate(357deg);
	background-color:#FFF;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-12:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-2-element-12:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222;
	border-color:#000;
}
.depicter-revert .depicter-2-element-11{
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-10{
	font-size:20px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-24{
	opacity:0.53;
}
.depicter-revert .depicter-2-element-24-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-2-section-1 .depicter-section-background{
	background-color:#FFF;
	filter:none;
}
.depicter-revert .depicter-2-element-37{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-37:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-2-element-37:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-36{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#eb802a;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	background-color:#ffffff;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-36:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-2-element-36:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-2-element-35{
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-34{
	font-size:20px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-33{
	font-size:76px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-32 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-45{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-45:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-2-element-45:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-44{
	padding:22px;
	font-size:16px;
	text-align:center;
	color:#eb802a;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	box-shadow:0px 14px 30px 0px rgba(0, 0, 0, 0.11);
	background-color:#ffffff;
	border-radius:6px;
}
.depicter-revert .depicter-2-element-44:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-2-element-44:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-2-element-43{
	background-color:#ffffff;
}
.depicter-revert .depicter-2-element-42{
	font-size:20px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-41{
	font-size:76px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-2-element-14{
	background-color:#FFFFFF;
}
.depicter-2-element-14 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-2-element-15{
	background-color:#FFFFFF;
}
.depicter-2-element-15 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-2-element-13{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	overflow-wrap:break-word;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-12{
	transform:rotate(357deg);
}
.depicter-revert .depicter-2-element-10{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-34{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-33{
	font-size:51px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-2-section-32 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-42{
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-41{
	font-size:51px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-2-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-2-element-14{
	background-color:#FFFFFF;
}
.depicter-2-element-14 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-2-element-15{
	background-color:#FFFFFF;
}
.depicter-2-element-15 .depicter-symbol-container{
	fill:#EB802A;
}
.depicter-revert .depicter-2-element-13{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-12{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#EB802A;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	transform:rotate(357deg);
	background-color:#FFFFFF;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-10{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-2-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-37{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-36{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#eb802a;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-34{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-2-element-33{
	font-size:27px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-2-section-32 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-2-element-45{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-44{
	padding:7px;
	font-size:12px;
	text-align:center;
	color:#eb802a;
	font-family:"Rubik";
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:4px;
}
.depicter-revert .depicter-2-element-42{
	font-size:12px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-2-element-41{
	font-size:27px;
	text-align:left;
	color:#ffffff;
	font-family:"Rubik";
	font-weight:500;
	line-height:120%;
}
.depicter-revert .depicter-2-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

}
